{% extends 'base.html' %}
{% load static %}

{% block nav %}
    {% if perms.webapp.add_project %}
    <li class="menu-right">
    <a href="{% url 'webapp:create_project'%}" class="nav-link">New project</a>
    </li>
    {% endif %}
    <li class="menu-right">
        <a href="{% url 'webapp:task_list' %}" class="nav-link">All tasks</a>
    </li>
{% endblock %}
{% block content %}

    <h1 style="text-align: center">To Do App</h1>
    <div class="row">
      {% for project in projects %}
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    {% for user in project.user.all %}
                        <p class="card-text"><b>Contributors:</b>
                        <a href="{% url 'accounts:profile' user.pk %}">{{ user }}</a></p>
                        {% endfor %}
                    <a href="{% url 'webapp:project_view' project.pk %}" title="Detail View"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
</svg></a>
                </div>
            </div>
          </div>
      {% endfor %}
    </div>
{% endblock %}