{% extends 'base.html' %}
{% load static %}
{% block nav %}
    {% if perms.webapp.add_project %}
        <li class="menu-right">
            <a href="{% url 'webapp:create_project' %}"
               class="nav-link mt-2">New project</a>
        </li>
    {% endif %}
    <li class="menu-right">
        <a href="{% url 'webapp:task_list' %}"
           class="nav-link mt-2">All tasks</a>
    </li>
{% endblock %}
{% block content %}
    <h1 style="text-align: center">To Do App</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <p class="card-title mt-4"><b>Contributors:</b></p>
                            {% for user in project.user.all %}
                                <a href="{% url 'accounts:profile' user.pk %}">{{ user }}</a>
                            {% endfor %}
                        <p class="card-title mt-4"><b>Full description:</b>
                            <a href="{% url 'webapp:project_view' project.pk %}">Click me</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}