{% extends 'base.html' %}
{% block content %}
    {% for user in users %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Название:
                    <a href="{% url 'accounts:UsersView' user.id %} ">{{ user }}</a></h5>
            </div>
        </div>
    {% endfor %}
    {% if  request.user.project.all%}
    {% for project in request.user.project.all %}
        {% include 'projects/projects.html' %}
    {% endfor %}
    {% endif %}

    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
{% endblock %}