{% extends "base.html" %}
{% block content %}
        <p>
            Task title: {{ task.summary }}
        </p>
        <p>
            Task status: {{ task.description }}
        </p>
        <p>
            Task created: {{ task.created_at }}
        </p>
          <p>
            Task updated: {{ task.updated_at }}
        </p>
        <p>
            Task status: {{ task.status }}
        </p>
        <p>
           {% for type in task.types.all %}
            <p>
             Task type: {{ task.type }}
            </p>
        {% endfor %}
        </p>
<a href="/">To main page</a>
{% endblock %}