{% extends "base.html" %}
{% block content %}
        <!--suppress Annotator -->
    <p>
            Task title: {{ task.summary }}
        </p>
        <p>
            Task status: {{ task.description }}
        </p>
        <p>
            Task created: {{ task.created_at }}
        </p>
          <p>
            Task updated: {{ task.updated_at }}
        </p>
        <p>
            Task status: {{ task.status }}
        </p>
      <p>
            WHO DID IT: {{ task.user }}
        </p>
        <p>
           {% for type in task.type.all %}
            <p>
             Task type: {{ type.name }}
            </p>
        {% endfor %}
        </p>
<a href="/">To main page</a>
{% endblock %}